{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Add a Pet</h1>
    <form class='form' method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{field.label}}
                {{field}}
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
            </p>
        {% endfor %}
        <button type='submit' class='submit'>Submit</button><br><br>
        <a href='/' class='home'>Home</a>
    </form>
{% endblock %}